<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Wisnu Dewansyah/IdeaProjects/Test Web Automation">
        <classes>
            <class name="StepDefinition.loginStep"/>
        </classes>
    </test>
</suite>